:root {

    --dark:#3e4444;
    --light: #82b74b;
    --darker: #405d27;
    --skin: #c1946a;

}



* {

    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    background: var(--dark);
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1 rem;
    color: var(--light);
}

#new-task {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#task-input {
    flex: 1 1 0%;
    background-color: var(--darker) ;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#task-input::placeholder {
    color: var(--skin);
}

#task-submit {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    background: var(--light);
    border-radius: 1rem;
    cursor: pointer;
}

#task-submit:hover {
    opacity: 0.6;
}

.task-list {
    padding: 1rem;   
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--light);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
	justify-content: space-between;
	background-color: var(--light);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
    cursor: pointer;
}

#tasks .task .content .text {
    color: var(--darker);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4px;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--darker);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}



.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem; 
    font-size: 0.8rem;
    font-weight: 700;  
    text-transform: uppercase;
    transform: 0.4s;
}

.task .actions button:hover{
    opacity: 0.6;
}

.task .actions button:active{
    opacity: 0.6;
}

.task .actions .delete {
    color: crimson;

}