body {
    display: flex;
}


.game {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}

.borderLeft {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +1;
}


.borderRight {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.borderTop {
    width: 660px;
    height: 60px;
    position: absolute;
    background-color: white;
    z-index: +2;
    top: -50;
}


.sky {
    background-color: lightblue;
    width: 500px;
    height: 580px;
    position: absolute;
}

.ground {
    background-color: brown;
    /* background-image: url('ground.png'); */
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.ninja {
    /* background-image: url('ninja.png'); */
    background-color: yellow;
    position: absolute;
    width: 60px;
    height: 45px;
    z-index: +3;
    left: 220px;
    bottom: 100px;
}

.stone {
    background-image: url('obs.png');
    width: 60px ;
    height: 300px;
    position: absolute;
}

.topstone {
    background-image: url('obs.png');
    transform: rotate(180deg);
    width: 60px ;
    height: 300px;
    position: absolute;
}